---
import Layout from '../../layouts/Layout.astro';
import AuthChecker from '../../components/AuthChecker.astro';
import UsuariosManager from '../../components/UsuariosManager';
---
<Layout title="Usuarios - RKT Regulador">
    <AuthChecker />
    <div id="protected-content" style="display: none;">
        <UsuariosManager client:load />
    </div>
</Layout>