---
import Layout from '../layouts/Layout.astro';
import AuthChecker from '../components/AuthChecker.astro';
---
<Layout title="Home - RKT Regulador">
    <ProtectedRoute client:visible>
        <h3>Sistema de Gestión de Pedidos para Almacenes Reguladores de RIKUTEC</h3>
        <!-- Aquí puedes añadir más contenido para la página de bienvenida -->
    </div>
</Layout>
