---
import Header from '../components/Header';
import type { User } from '../store/auth';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const sessionCookie = Astro.cookies.get('session');
const user: User | null = sessionCookie ? JSON.parse(sessionCookie.value) : null;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header client:load user={user} />
		<main>
			<slot />
		</main>
		<style is:global>
			/* Estilos globales muy básicos */
			body { font-family: sans-serif; margin: 0; background-color: #f4f4f4; }
			main { max-width: 1200px; margin: 2rem auto; padding: 1rem; background-color: white; border-radius: 8px; }
		</style>
	</body>
</html>